<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
     <link rel="stylesheet" href="https://cdn.bootcss.com/foundation/5.5.3/css/foundation.min.css">
    <script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/foundation/5.5.3/js/foundation.min.js"></script>
    <script src="https://cdn.bootcss.com/foundation/5.5.3/js/vendor/modernizr.js"></script>
    <title>STB family</title>
</head>
<body>
<h1>welcome to S.T.B</h1>
<div>
    <video autoplay="autoplay" width="80%" height="30%">
        <source src="{% static 'web/images/stb.mp4' %}"/>
    </video>
</div>
<div>
    <a href="/" class="button">XY陛下</a>
    <a href="/re_name" class="button">巨型HSY</a>
</div>
</body>
</html>